sudo: false
language: java
jdk: oraclejdk8

script:
- echo "Nothing to build."
- echo "version Travis CI build $TRAVIS_BUILD_NUMBER" > binary

after_success:
- sh tag_current_release.sh

deploy:
  provider: releases
  api_key:
    secure: xD2usohEKSIix2OAbaGUVi7luL5d+2SMpEndOY6wkLnvkUT2sFSZhjgRT+oBXFnRaMvuXcT1gXX3QozSxH0J86obhi9NOiDYeTkVK3vBvWTiH+nk2aST6esny9NIBLRIndgJhg6nhdaPSDnGgixjZj47+Wo8K2X7XuG6SugWrs/FFgpzlWudn1CWMsUG01a3gjfhX+9Xv8j2rKZKoRYg4nKL/4AuFzseC9wc8yL9kcUHHGhTbQXfpe8sKxmPHM+8lShQfRMgPaG7B/XEEUODOXaD91eot3shcDxJBA9VoW+BpbIWZCONfibS+3OsBEKv137r1+Kq1Lq84qPH3V63m+MB0B8RueWM1Ivt4bmPVXF5ShFjHeMa+e1Sx+9NTQbbnHsADLbSPbELopDrmjA8z5A/9t1Gw+6cZ4AYhiz37aE4t+BfEPQMtaevJx+PmVKGLYUWfVAUv3we1LOg/L6wJ8iKzNHxATNvuEGCkGmiPGxlZZltcI+7oIZZEBP5kfEFsSgytOCMF0TgYYeE8kWdr6zVsml4ceTGLcCImSFYpGjp+T/pHzRFNRyZOy0s6TsSCjXt/nShoCfn9u5SCNqb126WdfaDrt5vyIz9+L9YkPtRXgslysEYmFPjepbyjwaxwuoHHR75IGP26QnSVVY5a8JZqo6OTWUj9hjKDYqbfLo=
  file: binary
  skip_cleanup: true
  overwrite: true
  on:
    branch : master
    repo: philippemerle/release-test

env:
  global:
    secure: oVAEQFxiEKT5yCSWXzV5b4UAp2rFhlHJcnk2ZjSf/aMCABEesHxga/P03Myyiyz1WgXzALHYsDlM1Qjhfj84p7OMXVXlgTYZ0UV2ApVZm3ZOUYK9FwR986d0MpPbbQNG93B9H5x6b9Y1+8OrIxymVPuFV+cri9QJfFq5IqyC1XBQu8X0HCTOHKxvMMGB3xJEcRgRYUa0rJPQ4O9XfE7/i7ZqB90RNqQKA2Uiq94q8Yox2qZzP0NLNSAQHzVltt9Or6kss5WyNZNeQl0vntvGHCuLwSEPOX0pKjM0UgGQBo1iPmJzYco8RPvAJC9eBKmynhKScsDO7wo+L0J6KRxGUMmGlbJRD2mKQa2/9kWZe4L11dPFZn04Qwl3v3pDPyG8oJROufoK3a3fyDkfL65ek1sBSbmvOHsduZSZOSnwP8YFqBxaWCNJSQWYCAwlGSj5O22az23DpobQQQ+loMwUlCFzS/hBnihgm4U8T6usgwgK4xGIgJNqNcJYL2RDs0j/vfS/Yf0GjQNW2APqZ3Abj3R3DKVYhewqTtJmVeuyaDgXWvZS09OMJtNjHDGoOZxfy+YlLDsgx8tq3kp02MhS7wZI16KwBRtJEYP4QbMmolDlDPBAGMoCFjeur/MJtmYjEudVaUXyuCZCl8DtC5wab5YaE7NNNzQdZAD80gXsBFQ=
